div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    margin-bottom: 40px;
}
.linear{
    height: 300px;
    background:linear-gradient(to right,blue,white);
}
.radial{
    height: 500px;
    background:radial-gradient(circle, red,green,black,white);
}
.conic{
    height: 500px;
    background:conic-gradient(from 90deg,red,blue,white,black)
}