.container{
    height: 800px;
    width: 100%;
    background-color: pink;
    display: flex;
    flex-wrap: wrap;
    flex-direction: wrap;
    justify-content: center;
    align-items: center;

}
img{
    height: 200px;
    width: 200px;
    margin: 8px;

}