.para1{
    border: 3px solid red;
}

.para2{
    border: 3px solid red;
    margin: 40px;
    padding: 60px;
}

.para3{
    border: 3px solid red;
     /* padding-left: 50px;  */
     /* padding-right: 180px;  */
     /* padding-top: 60px;  */
     /* padding-bottom: 100px;  */
     padding: 50px 80px 50px 80px; 

    /* margin-left: 100px; */
    /* margin-right: 100px; */

    margin: 50px 80px 50px 80px;
}

.imgebox{
    border: 3px solid red;
    padding: 50px 80px 50px 80px;
    margin: 50px 80px 50px 80px;
    height: 500px;
    width: 500px;
}

.box{
    width: 150px;
    height: 150px;
    background-color: grey;
    border: 2px solid red;
    margin-bottom: 20px;
}
.box1{
    position: static;
}
.box2{
    position: relative;
    left: 300px;
    top: 40px;
}
.box3{
    position: absolute;
    left: 300px;
    top: 40px;
}
.box4{
    position: sticky;
    top: 0px;
}
.box5{
    position: fixed;
    bottom: 0px;
    right: 10px;
}
.hall{
    position: relative;
    width: 400px;
    height: 300px;
    background-color: black;
    top: 30px;
    left: 100px;
}
#tv{
    position: absolute;
    height: 80px;
    width: 200px;
    background-color: yellow;
    left: 100px;
}
#sofa{
    position: absolute;
    height: 50px;
    width: 250px;
    background-color: rgb(50, 66, 205);
    left: 90px;
    top: 100px;
}
#fridge{
    position: absolute;
    height: 40px;
    width: 30px;
    right: 10px;
    bottom: 0px;
    background-color: blue;
}