.container{
    background-color: rgb(226, 151, 183);
    /* margin-top: 30px; */
    /* margin-bottom: 30px; */
    /* margin-left: 30px; */
    /* margin-right: 30px; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
.box1{
    background-color: blue;
    border-radius: 10px;
     height: 100px;
     width: 150px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 30px;
     margin-left: 40px;
     color: white;
     margin-top: 50px;
     transition: transform 3s ease-in-out 500ms;

}
.box:hover{
    transform: translate(125px,12px);
}
.box2:hover{
    transform: translateX(125px);
    
}
.box3:hover{
    transform: translateY(125px);
}
.box4:hover{
    transform: rotate(360deg);
}
.box5:hover{
    transform:skewX(30deg);
}
.box6:hover{
    transform: scale(2);
}
.box7:hover{
    transform: translateX(150px),rotate(360deg),scale(1.3);
}